@use 'variables' as *;

.tv-npmfeed {
    padding: $global-px * 2.5;
    list-style: none;

    li {
        font-size: $global-px;
        line-height: $global-px * $golden-ratio;
        opacity: 0.5;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
