<audio #radioElement></audio>

<article class="now-playing">
    <h3 class="radio" [innerHTML]="nowPlayingChannel().visibleName"></h3>
    <h2>{{ nowPlayingSong() }}</h2>
    <h3>{{ nowPlayingArtist() }}</h3>
</article>

<section class="channels">
    <ul>
        @for (channel of radioChannels; track channel.file; let i = $index) {
            <li
                [class.selected]="i === selectedChannelIndex()"
                [innerHTML]="channel.visibleName"
            ></li>
        }
    </ul>

    <app-tv-npmfeed />
</section>
