# Wi-Fi power saving makes the Pi 3's Wi-Fi hesitate, which can break Spotify's connection.
# Installed as /etc/udev/rules.d/70-raspberry-wifi.rules by setup.sh.
ACTION=="add", SUBSYSTEM=="net", KERNEL=="wlan0", RUN+="/usr/sbin/iw dev wlan0 set power_save off"
