@use 'variables' as *;

.tv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: $global-px * 2.5;
    color: #cccccc;
    text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    transition: 0.2s transform ease-in-out;

    &.overlay {
        transform: translateX(-20vw);
    }

    &-aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
}
