@use 'variables' as *;

html {
    font-family: 'Wix Madefor Display', 'Helvetica Neue', sans-serif;
    font-size: $global-px;
    line-height: $global-px * $golden-ratio;
    color: #cccccc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
